<div class="row">
  <div class="col-12">
    <h2 class="text-center app-main-color">
      <p class="app-form-message">PLEASE SELECT A CONVINIENT TIME TO LEAVE YOUR VEHICLE WITH US</p>
    </h2>
  </div>
</div>

<form class="form row" style="position: relative;">
  <div class="col-6">

    <h5 class="app-main-color">DATE & TIME</h5>
    <div class="form-group row">
      <div class="col-6">
        <mat-form-field class="app-date-picker">
          <input matInput [matDatepicker]="dateFromPicker" [(ngModel)]="start.date" name="start.date" placeholder="SELECT START DATE">
          <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <ngb-timepicker #timeFromPicker [(ngModel)]="start.time" [spinners]="false" name="start.time"></ngb-timepicker>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6">
        <mat-form-field class="app-date-picker">
          <input matInput [matDatepicker]="dateToPicker" [(ngModel)]="end.date" name="end.date" placeholder="SELECT END DATE">
          <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateToPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <ngb-timepicker #timeToPicker [(ngModel)]="end.time" [spinners]="false" name="end.time"></ngb-timepicker>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6">
        <h5 class="app-main-color">SHORE HOURS</h5>
        <ul>
          <li *ngFor="let storeHoursItem of storeHours">
            <div class="app-store-hours-days">{{storeHoursItem.days}}</div>
            <div class="app-store-hours-time">{{storeHoursItem.hours}}</div>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h5 class="app-choose-services app-main-color">CHOOSE YOUR SERVICES</h5>
        <span class="app-choose-services-hint">Please select the type of service(s) needed</span>

        <div *ngFor="let service of services" class="form-check">
          <label class="form-check-label" for="defaultCheck1">
            <input class="form-check-input" type="checkbox" value="{{service.id}}" [(ngModel)]="service.checked" name="services"> {{service.name}}
          </label>
        </div>

      </div>
    </div>
  </div>
  
  <div class="app-vertical-divider app-main-color"></div>

  <div class="col-6">

    <h5 class="app-main-color">YOUR VEHICLE</h5>
    <div class="form-group row">
      <div class="col-6">
        <input class="form-control" [(ngModel)]="vehicle.year" name="vehicle.year" placeholder="YEAR OF CAR" />
      </div>
      <div class="col-6">
        <input class="form-control" [(ngModel)]="vehicle.name" name="vehicle.name" placeholder="SELECT YOUR CAR" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <input class="form-control" [(ngModel)]="message" name="message" placeholder="WRITE YOUR MESSAGE" />
      </div>
    </div>

    <h5 class="app-main-color">PERSONAL DETAILS</h5>
    <div class="form-group row">
      <div class="col-6">
        <input class="form-control" [(ngModel)]="personalInfo.firstName" name="personalInfo.firstName" placeholder="FIRST NAME" />
      </div>
      <div class="col-6">
        <input class="form-control" [(ngModel)]="personalInfo.secondName" name="personalInfo.secondName" placeholder="SECOND NAME"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <input class="form-control" [(ngModel)]="personalInfo.email" name="personalInfo.email" placeholder="E-MAIL" />
      </div>
      <div class="col-6">
        <input class="form-control" [(ngModel)]="personalInfo.phone" name="personalInfo.phone" placeholder="PHONE NUMBER" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6">
        <button type="submit" class="btn btn-outline-secondary app-button" (click)="resetForm()">CLEAR</button>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary app-button float-right" (click)="makeAppointment()">SEND</button>
      </div>
    </div>
  </div>
</form>
<br />
<div class="app-horizontal-divider app-main-color"></div>