.app-schedule-appointment {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/schedule-appointment.gif');
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
}