<div class="text-center">
  <p>CONNECT WITH US</p>
  <ul>
    <li class="social-logo">
      <a href="https://facebook.com" target="_blank">
        <img src="/assets/icons/facebook.png" alt="Facebook">
      </a>
    </li>
    <li class="social-logo">
      <a href="https://facebook.com" target="_blank">
        <img src="/assets/icons/facebook.png" alt="Twitter">
      </a>
    </li>
    <li class="social-logo">
      <a href="https://facebook.com" target="_blank">
        <img src="/assets/icons/facebook.png" alt="Google+">
      </a>
    </li>
  </ul>
</div>