<div class="col-12 col-md-10 offset-md-1">

  <h2>TELL YOUR FRIENDS</h2>
  <p>Some of your friends may like to visit if you recommend us. They'll trust your taste!</p>

  <div>
    <a class="btn btn-default app-social-share-button app-social-share-facebook">
      <img src="/assets/icons/facebook.png" />
      <span> Share</span>
    </a>

    <a class="btn btn-default app-social-share-button app-social-share-twitter">
      <img src="/assets/icons/twitter.png" />
      <span> Tweet</span>
    </a>
  </div>

</div>