.category {
    display: inline-block;
    width: 20%;
    font-weight: bold;
}

.subcategory {
    font-weight: normal;
}

@media (max-width: 576px) { 
    .category {
        display: block;
        width: 100%;
    }

    .category ul li {
        display: inline-block;
        padding: 0 10px;
    }
}