
.app-phone {
    color: red;
    font-size: 36px;
    margin-left: 10px;
    vertical-align: bottom;
}

.app-nav {
    font-size: 14px;
    padding-right: 0;
}

/* for small devices */
@media (max-width: 576px) { 
    li.nav-item {
        width: 100%;
    }
}