<div class="row">
  <div class="col-12 text-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link app-nav" href="#">SCHEDULE AN APPOINTMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link app-nav" href="#">LOCATE A SERVICE CENTER</a>
      </li>
    </ul>
  </div>
</div>
<div class="row float-right">
  <div class="col-12">
    <div class="d-inline-block">
      <span>YOUR AAMCO IS</span>
      <br/>
      <span class="font-weight-bold">{{closestOffice}}</span>
    </div>
    <div class="d-inline-block">
      <span class="app-phone">(801) 783.32.80</span>
    </div>
  </div>
</div>