.app-store-hours-days {
    font-size: 110%;
    color: grey;
}

.app-store-hours-time {
    color: black;
}

.app-button {
    padding: 5px 40px;
}

.app-date-picker {
    padding-top: 6px;
}

.app-form-message {
    padding: 20px 0;
}

.app-choose-services {
    margin-bottom: 0;
}

.app-choose-services-hint {
    font-size: 70%;
    vertical-align: top;
}

/* Angular Material override */
.mat-form-field-infix {
    border: none !important;
}

.mat-form-field {
    width: 100%;
}

/* for small devices */
@media (max-width: 576px) { 
    .form-group .form-control {
        margin-bottom: 16px;
    }

    .form-group {
        margin-bottom: 0;
    } 
}

